* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.dashboard, .hospitals, .campaign .archive, .report, .setting{
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    position:fixed;
    left: 250px;
}
